# PostgreSQL
POSTGRES_DB=creatio
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

# Redis
REDIS_PASSWORD=redis_password
REDIS_PORT=6379

# pgAdmin
PGADMIN_EMAIL=admin@creatio.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Creatio App
CREATIO_PORT=8080
CREATIO_HTTPS_PORT=8443
