# ─────────────────────────────────────────
# PostgreSQL
# ─────────────────────────────────────────
POSTGRES_HOST=creatio-postgres
POSTGRES_DB=creatio_studio
POSTGRES_USER=creatio_user
POSTGRES_PASSWORD=CreatioStr0ngPass!
POSTGRES_PORT=5433

# ─────────────────────────────────────────
# Redis
# ─────────────────────────────────────────
REDIS_HOST=creatio-redis
REDIS_PASSWORD=R3d!sStr0ngPass#2025
REDIS_PORT=6379

# ─────────────────────────────────────────
# pgAdmin
# ─────────────────────────────────────────
PGADMIN_EMAIL=admin@creatio.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# ─────────────────────────────────────────
# Creatio App
# ─────────────────────────────────────────
CREATIO_PORT=8080
CREATIO_HTTPS_PORT=8443

# ─────────────────────────────────────────
# Creatio Config
# ─────────────────────────────────────────
ENABLE_FILE_SYSTEM=true
COOKIES_SAME_SITE_MODE=Lax